<div id="footer">
	<div class="row">
		<div class="column grid_6 copyright">
			<p>&copy; 2011 Huesos, Todos los derechos reservados.</p>
		</div>
		<div class="column grid_6 developed_by">
			<p>Sitio desarrollado por IDSign</p>
		</div>
	</div>
</div>
