<div id="footer">
	<div class="row">

		<div id="copyright" class="column grid_6">
			<p>
				&copy; <%= Date.today.year %> <%= project_name %>, Todos los derechos reservados.
			</p>
		</div>

		<div id="developed_by" class="column grid_6">
			<p>
				Sitio desarrollado por IDSign
			</p>
		</div>

	</div>
</div>
