<div id="footer" class="section">
	<div class="container">
		
		<ul class="grid_4 first">
			<li><span>Section 1</span></li>
			<li><%%= link_to "Home", root_path %></li>
			<li><%%= link_to "Link 2", "#" %></li>
			<li><%%= link_to "Link 3", "#" %></li>
		</ul>
		
		<ul class="grid_4">
			<li><span>Section 2</span></li>
			<li><%%= link_to "Link 1", "#" %></li>
			<li><%%= link_to "Link 2", "#" %></li>
			<li><%%= link_to "Link 3", "#" %></li>
		</ul>
		
		<ul class="grid_4">
			<li><span>Section 3</span></li>
			<li><%%= link_to "Link 1", "#" %></li>
			<li><%%= link_to "Link 2", "#" %></li>
			<li><%%= link_to "Link 3", "#" %></li>
		</ul>
		
		<ul class="grid_4">
			<li class="blank"></li>
			<li><%%= link_to "Link 1", "#" %></li>
			<li><%%= link_to "Link 2", "#" %></li>
			<li><%%= link_to "Link 3", "#" %></li>
		</ul>
		
		<div class="grid_8 social">
			<%%= link_to "RSS", "#", :class => "rss", :target => "_blank" %>
			<%%= link_to "Vimeo", "http://vimeo.com/", :class => "vimeo", :target => "_blank" %>
			<%%= link_to "YouTube", "http://youtube.com/", :class => "youtube", :target => "_blank" %>
			<%%= link_to "Facebook", "http://facebook.com/", :class => "facebook", :target => "_blank" %>
			<%%= link_to "Twitter", "http://twitter.com/", :class => "twitter", :target => "_blank" %>
		</div>
		
		<p class="copyright clear">
			&copy; <%%= Date.today.year %> <%= project_name %> Todos los derechos reservados.
			<%%= link_to "Términos y condiciones", "#" %> ·
			<%%= link_to "Aviso de privacidad", "#" %>
			<%% if Rails.env == 'development'  %>
				· <%%= link_to "User Interface", page_path("ui") %>
			<%% end %>
		</p>
	</div>
</div>
