<div id="footer">
	<div class="row">
		<div class="column grid_6 copyright">
			<p>&copy; <%= Date.today.year %> <%= project_name %>, Todos los derechos reservados.</p>
		</div>
		<div class="column grid_6 developed_by">
			<p>Sitio desarrollado por <a href="http://idsign.com.mx/">IDSign</a></p>
		</div>
	</div>
</div>
