<div id="footer">
	<p class="copyright">
		<span>© Compucorner 2010. Todos los derechos reservados.</span>
	</p>
	
	<p class="developed_by">
		<span>System developed by IDSign</span>
	</p>
	
	<br class="clear" />
</div>
