	<!-- div#main_nav -->
	<div id="main_nav" class="column grid_8">
		<ul>
			<li><a href="#">Navigation Item 1</a></li>
			<li><a href="#">Navigation Item 2</a></li>
			<li><a href="#">Navigation Item 3</a></li>
			<li><a href="#">Navigation Item 4</a></li>
		</ul>
	</div>
	