<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%%= h(@meta[:title] || "#{controller.controller_name.humanize}: #{controller.action_name}") %> – <%= project_name %></title>
  <meta name="description" content="<%= @meta[:description] %>" />
	<meta name="keywords" content="<%= @meta[:keywords] %>" />
	<%%= stylesheet_link_tag "base", "application", :cache => true %>
	<%%= include_section_stylesheet %>
	<!--[if IE 6]><%%= stylesheet_link_tag "hacks/ie6" %><![endif]-->
	<%%= javascript_include_tag :defaults, "cufon-yui", :cache => true %>
	<%%= javascript_include_tag Dir.glob('public/fonts/**/*.font.js').map{|f| f.gsub('public','')} %>
	
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
	
	<script type="text/javascript" charset="utf-8">
		Cufon.replace("h1");
	</script>
	
	<%%= yield(:head) %>
</head>
<body<%%= ' class="grid"' if AppConfig[:show_grid].present? %>>

	<!-- div#(canvas_)wrapper: no tiene width, imagen adicional de fondo -->
	<div id="wrapper">

		<%%= render :partial => 'layouts/top_bar' %>

		<!-- div#canvas: width: 960px, puede tener un margin-top -->
			<div id="canvas">

				<div id="header" class="row">
					<div id="logo" class="column grid_4">
						<a href="<%%= root_path %>"><%= project_name %></a>
					</div>

					<div id="header_info"></div>

					<%%= render :partial => 'layouts/main_nav' %>

				</div> <!-- /header -->

				<%%= render :partial => 'layouts/menu' %>

				<div id="content_wrapper" class="row">
					<div id="content_header" class="column grid_12">
						<%%= yield :content_header %>
					</div>

					<div id="content">
						<%%= yield %>
					</div>

					<div id="content_footer" class="row">
						<%%= yield :content_footer %>
					</div>
				</div> <!-- /content_wrapper -->

			</div> <!-- /canvas -->
		
		<%%= render :partial => "layouts/footer" %>

	</div> <!-- /wrapper -->

<%% if AppConfig[:google_analytics_account_id].present? %>
	<script>
	 var _gaq = [['_setAccount', '<%%= AppConfig[:google_analytics_account_id] %>'], ['_trackPageview']];
	 (function(d, t) {
	  var g = d.createElement(t),
	      s = d.getElementsByTagName(t)[0];
	  g.async = true;
	  g.src = '//www.google-analytics.com/ga.js';
	  s.parentNode.insertBefore(g, s);
	 }(document, 'script'));
	</script>
<%% end %>

</body>
</html>
