html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, 
form, a, a img, img, dl, dt, dd, address {
	margin: 0;
	border: 0;
	padding: 0;
	outline: none;
	vertical-align: top;
	font-style: normal;
}

.clear {
	display: block;
	clear: both;
	overflow: hidden;
}

.clearfix {
	content: ".";
	display: block;
	height: 1px;
	clear: both;
	visibility: hidden;
	font-size: 1px;
	line-height: 0;
	margin-bottom: 10px;
}

label { cursor: pointer; }
table { border-collapse: collapse; }
