title: <%= page_name %>
navigation: inicio
description: 
keywords: 


<%% content_for :content_header do %>
	<h1><%= page_name %></h1>
<%% end %>

<div class="column grid_12">
	<p>
		Content <span class="highlight">one column</span> page.
	</p>
</div>
