title: <%= page_name %>
navigation: inicio
description: 
keywords: 


<%% content_for :content_header do %>
	<h1><%= page_name %></h1>
<%% end %>

<div class="column grid_7 left_side">
	<p>
		Content <span class="highlight">two columns</span> page.
	</p>
</div>

<div class="column grid_5">
	Right side<br />
</div>
