<div id="main_nav">
	<ul>
		<%= render_menu_item :navitem_1, "NavItem 1", root_path %>
		<%= render_menu_item :navitem_2, "NavItem 2", root_path %>
		<%= render_menu_item :navitem_3, "NavItem 3", root_path %>
	</ul>
</div>
