	<!-- div#main_nav -->
	<div id="main_nav" class="column grid_8">
		<ul>
			<%= render_menu_item :navitem1, "NavItem 1", root_path %>
			<%= render_menu_item :navitem2, "NavItem 2", root_path %>
			<%= render_menu_item :navitem3, "NavItem 3", root_path %>
		</ul>
	</div>
	