
	<div id="menu" class="row">
		<ul class="column grid_12">
			<%= render_menu_item :section_1, "Section 1", root_path %>
			<%= render_menu_item :section_2, "Section 2", root_path %>
			<%= render_menu_item :section_3, "Section 3", root_path %>
			<%= render_menu_item :section_4, "Section 4", root_path %>
		</ul>
	</div>
