<div id="menu" class="section">
	<div class="container clearfix">
		<ul>
			<%= render_menu_item :inicio, "Inicio", root_path, :first_child => true %>
			<%= render_menu_item :ui, "User Interface", page_path("ui") %>
			<%= render_menu_item :section_3, "Section 3", root_path %>
			<%= render_menu_item :section_4, "Section 4", root_path, :last_child => true %>
		</ul>
	</div>
</div>
