<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%%= h(yield(:title) || "#{controller.controller_name.humanize}: #{controller.action_name}") %> – <%= @project_name %></title>
  <%%= stylesheet_link_tag "base", "application", :cache => true %>
	<%%= include_section_stylesheet %>
	<%%= javascript_include_tag :defaults, :cache => true %>
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
	<%%= yield(:head) %>
</head>
<body>

	<!-- div#wrapper: no tiene width, wrapper del canvas, imagen adicional de fondo -->
	<div id="wrapper">

		<!-- <div id="top_bar"></div> -->

		<!-- div#canvas: grid 960, puede tener un margin-top -->
		<div id="canvas">
			<div id="header">

				<div id="logo">
					<a href="#"><%= @project_name %></a>
				</div>

				<div id="header_info">

				</div>

				<div id="main_menu">
					Inicio | Quienes Somos
				</div>

			</div> <!-- /header -- >

			<!-- div#menu: en teoria “width: 960px” -->
			<div id="menu">

			</div>

			<div id="content_wrapper">
				...

				<div id="content_header">
					<%= yield :content_header %>
				</div>

				<div id="content">
					<%= yield %>
				</div>

				<div id="content_footer">

				</div>
			</div> <!-- /content_wrapper -->



		</div> <!-- /canvas -- >

		<div id="footer">

		</div>

	</div> <!-- /wrapper -- >

<%% if AppConfig[:google_analytics_account_id].present? %>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', '<%%= AppConfig[:google_analytics_account_id] %>']);
		_gaq.push(['_trackPageview']);
		
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
<%% end %>

</body>
</html>
